## Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import yfinance as yf
import matplotlib.pyplot as plt
%matplotlib inline

## Code

In [2]:
start_date = "1996-05-22"
end_date = "2023-03-16"
companies = ["CVX", "XOM", "BP", "GE", "NEE"]
company = ["t"]
Data = yf.download(companies, start=start_date, end=end_date)

[*********************100%***********************]  5 of 5 completed

In [3]:
Data

            Adj Close                                                \
                   BP         CVX         GE        NEE         XOM
Date
1996-05-22   8.016020   11.880754  43.945015   2.270023    9.698002
1996-05-23   8.006576   11.856757  43.815578   2.244299    9.711821
1996-05-24   7.987694   11.736741  44.009724   2.257161    9.615113
1996-05-28   7.864951   11.640738  42.844780   2.257161    9.546040
1996-05-29   7.874390   11.448730  42.585884   2.248583    9.407891
...               ...         ...        ...        ...         ...
2023-03-09  39.340000  160.509995  91.559998  73.760002  109.129997
2023-03-10  39.009998  159.669998  91.000000  73.010002  107.779999
2023-03-13  38.009998  158.710007  88.970001  73.290001  106.540001
2023-03-14  38.250000  160.759995  91.169998  74.550003  106.940002
2023-03-15  35.849998  153.800003  89.760002  75.519997  101.620003

                Close                                                ...  \
                   BP         CVX         GE        NEE         XOM  ...
Date                                                                 ...
1996-05-22  26.531250   30.937500  84.944656   5.515625   21.937500  ...
1996-05-23  26.500000   30.875000  84.694450   5.453125   21.968750  ...
1996-05-24  26.437500   30.562500  85.069756   5.484375   21.750000  ...
1996-05-28  26.031250   30.312500  82.817909   5.484375   21.593750  ...
1996-05-29  26.062500   29.812500  82.317497   5.406250   21.281250  ...
...               ...         ...        ...        ...         ...  ...
2023-03-09  39.340000  160.509995  91.559998  73.760002  109.129997  ...
2023-03-10  39.009998  159.669998  91.000000  73.010002  107.779999  ...
2023-03-13  38.009998  158.710007  88.970001  73.290001  106.540001  ...
2023-03-14  38.250000  160.759995  91.169998  74.550003  106.940002  ...
2023-03-15  35.849998  153.800003  89.760002  75.519997  101.620003  ...

                 Open                                                  Volume  \
                   BP         CVX         GE        NEE         XOM        BP
Date
1996-05-22  26.406250   30.250000  83.068115   5.406250   21.500000    768000
1996-05-23  26.500000   30.812500  84.944656   5.515625   21.906250    631200
1996-05-24  26.500000   30.875000  84.444244   5.468750   21.968750    663200
1996-05-28  26.375000   30.562500  85.069756   5.500000   21.812500   1740800
1996-05-29  26.031250   30.187500  83.068115   5.437500   21.500000    934800
...               ...         ...        ...        ...         ...       ...
2023-03-09  39.740002  163.789993  89.959999  74.500000  110.870003   5999900
2023-03-10  39.500000  160.940002  91.900002  73.989998  109.559998   7627300
2023-03-13  37.490002  156.440002  89.699997  73.059998  105.339996  13377100
2023-03-14  38.049999  158.259995  91.169998  73.989998  106.349998   8748900
2023-03-15  36.070000  155.589996  88.989998  74.449997  102.820000  18693800


                 CVX        GE       NEE       XOM
Date
1996-05-22   2615600   3196377   2731200   8509200
1996-05-23   2517200   3689172   1298400   6124000
1996-05-24   1532000   1814911   1175200   4202400
1996-05-28   1735200   2495652   2444800   3780800
1996-05-29   1246800   1870865   4629600   3735600
...              ...       ...       ...       ...
2023-03-09   6214700  28592300   7678100  12961200
2023-03-10   7378900  18476300  10166700  15794600
2023-03-13  10106100  11334000   8388800  20745600
2023-03-14  10035200  11347500   8635800  18263500
2023-03-15  14063100  12057300  12030300  25733800

[6749 rows x 30 columns]

## Cleaning Data

In [4]:
Data.dropna()
Data.duplicated()

Date
1996-05-22    False
1996-05-23    False
1996-05-24    False
1996-05-28    False
1996-05-29    False
              ...
2023-03-09    False
2023-03-10    False
2023-03-13    False
2023-03-14    False
2023-03-15    False
Length: 6749, dtype: bool

## Selecting Column

In [6]:
Data.Close
Data.Close.to_csv(r'C:\Users\Augustin\Downloads\Augustin_Carbonnelle1.csv')
Data.Volume
Data.Volume.to_csv(r'C:\Users\Augustin\Downloads\Augustin_Carbonnelle2.csv')